<div class="bg-img">
    <form action="" method="post" enctype="multipart/form-data" class="container">
      <h1>Login</h1>
      {% csrf_token %}
      <label for="food_id"><b>Food</b></label>
      <label for="name"><b>Food Name</b></label>
      <input type="text" placeholder="Food name" name="Name" required>
      <label for="type"><b>Type</b></label>
      <input type="text" placeholder="Type of Food" name="Type" required>
      <label for="price"><b>Price</b></label>
      <input type="text" placeholder="Price" name="Price" required>
      <label for="description"><b>Description</b></label>
      <input type="text" placeholder="Enter Description" name="description" required>
      <label for="image"><b>Description</b></label>
      <input type="file" placeholder="Insert Photo" name="Photo" required>
  
      <button type="submit" class="btn">Login</button>
    </form>