{% extends 'nav.html' %} {% load static %} {% block statement %}
<!-- custom css file link  -->
<link rel="stylesheet" href="{% static '/css/namkeen.css' %}" />

<!-- search section ends -->

<!-- home section starts  -->

<section class="home" id="home">
  <div class="swiper home-slider">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide slide"
        style="
          background: url(/static/assets/img/namkeen/bhujiya.jpg) no-repeat;
        "
      >
        <div class="content">
          <span>Bhujiya</span>
          <h3>Get Our Varieties of Bhujiya</h3>
          <a href="#" class="btn">More</a>
        </div>
      </div>

      <div
        class="swiper-slide slide"
        style="background: url(/static/assets/img/namkeen/chips.jpg) no-repeat"
      >
        <div class="content">
          <span>Chips</span>
          <h3>Get Our Varieties of Chips</h3>
          <a href="#" class="btn">More</a>
        </div>
      </div>

      <div
        class="swiper-slide slide"
        style="
          background: url(/static/assets/img/namkeen/special.jpg) no-repeat;
        "
      >
        <div class="content">
          <span>More</span>
          <h3>Get Our Varieties of More</h3>
          <a href="#" class="btn">More</a>
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!-- home section ends -->

<!-- about section starts  -->
<section class="food" id="food">
  <div class="heading">
    <h3>Samosa</h3>
  </div>

  <div class="swiper food-slider">
    <div class="swiper-wrapper">
      {%for food1 in samosa%}
      <div class="swiper-slide slide" data-name="food-1">
        <img src="{% static 'assets/'%}{{food1.Photo}}" alt="" />
        <h3>{{food1.Name}}</h3>
        <div class="price">{{food1.Price}}</div>
        <form action="{% url 'add-to-cart' food1.food1_id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add to cart</button>
        </form>
        <!-- {% url 'add-to-cart' food1.food1_id %} -->
        <!-- <a href="#" class="btn">Add to Cart</a> -->
      </div>

      {%endfor%}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="food" id="food">
  <div class="heading">
    <h3>Bhujiya</h3>
  </div>

  <div class="swiper food-slider">
    <div class="swiper-wrapper">
      {%for food1 in bhujiya%}
      <div class="swiper-slide slide" data-name="food-1">
        <img src="{% static 'assets/'%}{{food1.Photo}}" alt="" />
        <h3>{{food1.Name}}</h3>
        <div class="price">{{food1.Price}}</div>
        <form action="{% url 'add-to-cart' food1.food1_id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add to cart</button>
        </form>
        <!-- {% url 'add-to-cart' food1.food1_id %} -->
        <!-- <a href="#" class="btn">Add to Cart</a> -->
      </div>

      {%endfor%}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="food" id="food">
  <div class="heading">
    <h3>Chips</h3>
  </div>

  <div class="swiper food-slider">
    <div class="swiper-wrapper">
      {%for food1 in chips%}
      <div class="swiper-slide slide" data-name="food-1">
        <img src="{% static 'assets/'%}{{food1.Photo}}" alt="" />
        <h3>{{food1.Name}}</h3>
        <div class="price">{{food1.Price}}</div>
        <form action="{% url 'add-to-cart' food1.food1_id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add to cart</button>
        </form>
        <!-- {% url 'add-to-cart' food1.food1_id %} -->
        <!-- <a href="#" class="btn">Add to Cart</a> -->
      </div>

      {%endfor%}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="food" id="food">
  <div class="heading">
    <h3>Benjan Special Namkeens</h3>
  </div>

  <div class="swiper food-slider">
    <div class="swiper-wrapper">
      {%for food1 in s_namkeen%}
      <div class="swiper-slide slide" data-name="food-1">
        <img src="{% static 'assets/'%}{{food1.Photo}}" alt="" />
        <h3>{{food1.Name}}</h3>
        <div class="price">{{food1.Price}}</div>
        <form action="{% url 'add-to-cart' food1.food1_id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add to cart</button>
        </form>
        <!-- {% url 'add-to-cart' food1.food1_id %} -->
        <!-- <a href="#" class="btn">Add to Cart</a> -->
      </div>

      {%endfor%}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- food preview section ends -->

<!-- footer section starts  -->

<!-- custom js file link  -->
<script src="{% static '/js/homepage1.js' %}" defer></script>
{% endblock %}
