{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Benjan Admin Dashboard</title>

    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <!-- <i class="bx bxl-c-plus-plus icon"></i> -->
        <div class="logo_name">Benjan</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/food1/form">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Add Products</span>
          </a>
          <span class="tooltip">Add Product</span>
        </li>
        <li>
          <a href="/food1/display_admin">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Foods</span>
          </a>
          <span class="tooltip">Foods</span>
        </li>
        <li>
          <a href="/customer">
            <i class="bx bx-user"></i>
            <span class="links_name">Customers</span>
          </a>
          <span class="tooltip">Customers</span>
        </li>
        <li>
          <a href="/messages">
            <i class="bx bx-chat"></i>
            <span class="links_name">Contact Messages</span>
          </a>
          <span class="tooltip">Contact Messages</span>
        </li>
        <li>
          <a href="/coorders">
            <i class="bx bx-cart-alt"></i>
            
            <span class="links_name">Catering Order</span>
          </a>
          <span class="tooltip">Catering Order</span>
        </li>
        <li>
          <a href="/food1/blog">
            <i class="bx bx-book"></i>
            
            <span class="links_name">Add Blogs</span>
          </a>
          <span class="tooltip">Add Blogs</span>
        </li>
        <li>
          <a href="/blog">
            <i class="bx bx-book"></i>
            
            <span class="links_name">Blogs</span>
          </a>
          <span class="tooltip">Blogs</span>
        </li>
        <li>
          <a href="/food1/admin-view-booking">
            <i class="bx bx-cart"></i>
            <span class="links_name">order</span>
          </a>
          <span class="tooltip">order</span>
        </li>

        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
              <div class="name">Admin</div>
              <div class="job">Logout</div>
            </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </li>
      </ul>
    </div>
    {% block statement %}{% endblock %}
  </body>


</html>