{% extends 'benjan admin/admin_nav.html' %} 
{% load static %} 
{% block statement %}
<link rel="stylesheet" href="{% static '/css/admin/messages.css' %}" />

<section class="home-section">
  <div class="text">Customer's Inquiries</div>
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Inquiriess</div>
          <div class="number">{{messagesss}}</div>
        </div>
      </div>
    </div>

    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="title">Customers Inquiries</div>
        <div class="sales-details">
          <table>
            <thead>
              <th>No.</th>
              <th>Customer's Name</th>
              <th>Number</th>
              <th>Orders</th>
              <th>How Much</th>
              <th>Address</th>
              <th>Pick Up Time</th>
              <th>More Details</th>
              <th>action</th>
            </thead>

            <tbody>
              {% for contact_us in messages %}
              <tr>
                <th scope="row">{{contact_us.contact_id}}</th>
                <td>{{contact_us.contact_Name}}</td>
                <td>{{contact_us.contact_number}}</td>
                <td>{{contact_us.contact_order}}</td>
                <td>{{contact_us.contact_quantity}}</td>
                <td>{{contact_us.contact_address}}</td>
                <td>{{contact_us.contact_date}}</td>
                <td>{{contact_us.contact_details}}</td>
                >

                <td>
                  <a
                    href="deletemessage/{{contact_us.contact_id}}"
                    class="delete-btn"
                    onclick="return confirm('are your sure you want to delete this?');"
                  >
                    <i class="fas fa-trash"></i> delete
                  </a>
                  <a href="#" class="option-btn">
                    <i class="fas fa-edit"></i> update
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static '/js/script.js' %}"></script>
{% endblock %}